body{
  background-color: #34f6f2;
  padding: 0;
  margin: 0;
}

#wrapper{
  width: 990px;
  background-color: #eef8ff;
  margin: auto;
  padding: 10px;
  box-shadow:5px 8px 8px 5px #333333;
}

header{
  height: 120px;
}

h1{
  font-size: 35px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  text-align: center;
  margin-top: -5px;
}

h2{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 70px;
  font-weight: bold;
  text-align: center;
  margin-top: 25px;
}

section{
  font-size: 20px;
  margin-top: 20px;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 20px;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
}

p{
  font-size: 20px;
  margin-top: 20px;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 30px;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
}

#header{
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

nav{
  background-image: linear-gradient(lightblue, #d1f5ff);
  color: black;
  padding: 10px;
  margin-top: -10px;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
  box-shadow: 0px 2px 0px 0px lightgrey;
}

ul li{
  display: inline-block;
  margin: 0 5%;
}

ul li a{
  display: block;
  padding: 10px;
  color: black;
  text-decoration: underline;
}

li a:hover{
  color: #555555;
}

ul{
  width: 60%;
  margin: auto;
}

footer{
  background-image: linear-gradient(grey, darkgrey);
  color: black;
  padding: 3px;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: -10px;
  margin-top: 10px;
  font-family: 'Montserrat', sans-serif;
  box-shadow: 0px 0px 0px 0px black;
}

footer ul li{
  display: inline-block;
  margin: 0 5%;
}

footer ul li afoot{
  display: block;
  padding: 1px;
  color: black;
  text-decoration: underline;
}

li afoot:hover{
  color: pink;
}

#logo{
  width: 7%;
  display: block;
  margin: 2px;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media only screen and (max-width:500px) {
  #logo{
    width: 30%;
  }
  #header{
    width: 60%;
  }
  #nav{
    padding: 20px;
  }
  
  #wrapper{
    width: 1000px;
  }
  
  .column {
    width: 100%;
  }
  
  section{
    font-size: 30px;
  }
  
  p{
    font-size:30px;
  }
}

#icons{
  width: 4%;
  padding: 2.5px;
}

#show{
  margin-left: 445px;
}

#hide{
  margin-left: 449px;
}

/*Recipe Page*/

h3{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 100%;
  font-weight: bold;
}

h4{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

#cookie{
  width: 13%;
  padding: 10px;
}